.footer {
  width: 100%;
  height: 80px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

#heart {
  padding-left: 7px;
  padding-right: 7px;
}

.footer:hover #heart {
  animation-name: beat_heart;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}

@keyframes beat_heart {
  0% {
    font-size: 100%;
  }
  15% {
    font-size: 120%;
  }
  30% {
    font-size: 140%;
  }
  45% {
    font-size: 120%;
  }
  60% {
    font-size: 140%;
  }
  100% {
    font-size: 100%;
  }
}
