.box {
  display: flex;
  padding-top: 150px;
  justify-content: center;
  align-items: center;
}
.box h1 {
  font-weight: 50;
}
.box h3 {
  font-size: 75%;
  font-weight: 50;
}
#responsive {
  display: inline;
}
.box a {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-size: cover;
  background-color: #070707;
  box-shadow: 1px 1px 20px 1px #888888;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease, 0.25s;
}
.box a:hover {
  border-color: green;
  background-color: #9c5ddb;
  transition: 0.25s;
  box-shadow: 1px 1px 20px 1px #9c5ddb;
  height: 120%;
}
.box span {
  color: red;
  animation: glitch 1s linear infinite;
  font-weight: 500;
  font-family: 'Monoton', cursive;
  font-size: 130%;
  animation: blink 10s linear infinite;
}

@keyframes blink {
  0%,
  12%,
  18.999%,
  23%,
  31.999%,
  37%,
  44.999%,
  46%,
  49.999%,
  51%,
  58.999%,
  61%,
  68.999%,
  71%,
  85.999%,
  96%,
  100% {
    opacity: 0.99;
    text-shadow: 0 0 80px red, 0 0 30px FireBrick, 0 0 6px DarkRed;
  }
  19%,
  22.99%,
  32%,
  36.999%,
  45%,
  45.999%,
  50%,
  50.99%,
  59%,
  60.999%,
  69%,
  70.999%,
  86%,
  95.999% {
    opacity: 0.4;
    text-shadow: none;
  }
}

@media (max-width: 600px) {
  .box {
    padding-top: 0px;
    display: grid;
  }
  .box img {
    width: 150px;
    padding-left: 5rem;
  }
  .box span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #responsive {
    display: none;
  }

  .box a {
    font-size: medium;
  }
}
