.container {
  display: flex;
  min-height: 75vh;
}

.banner {
  width: 80%;
  height: 70%;
  top: 25%;
  left: 10%;
  padding-top: 50px;
  position: relative;
  color: #fff;
}

.menhera_text {
  width: 50%;
  float: right;
}

.menhera_text h1 {
  font-size: 43px;
  width: 640px;
  position: relative;
  margin-left: -220px;
}

.menhera_text p {
  width: 100%;
  max-width: 650px;
  font-size: 15px;
  margin: 30px 0 30px -200px;
  line-height: 25px;
  color: #8f8f8f;
}

.menhera_text button {
  text-decoration: none;
  font-size: 20px;
  padding: 9px 25px;
  margin-left: -25%;
  background-color: #9c5ddb;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  animation: changeColor 1s infinite;
}

@keyframes changeColor {
  0% {
    background-color: #9c5ddb;
    margin-top: 5px;
  }
  50% {
    background-color: #9126fc;
    margin-top: 0px;
  }
  100% {
    background-color: #9c5ddb;
    margin-top: 5px;
  }
}

.menhera_text button:hover {
  background-color: #7642ad;
}

.menhera_img {
  width: 40%;
  float: left;
  margin-left: -10%;
}

.menhera_img img {
  width: 50%;
  padding-left: 10%;
}

@media (max-width: 850px) {
  .menhera_img {
    display: none;
  }
  .menhera_text {
    float: left;
  }

  .menhera_text button {
    font-size: 15px;
    margin-left: 30%;
    width: max-content;
  }
  .menhera_text h1 {
    width: 520px;
    font-size: 35px;
    max-width: 590px;
    margin-left: 0;
  }

  .menhera_text p {
    width: 650px;
    max-width: 180%;
    font-size: 15px;
    margin: 30px 0 30px 50px;
    line-height: 25px;
    color: #8f8f8f;
  }
}

@media (max-width: 600px) {
  .menhera_text h1 {
    font-size: 20px;
    width: max-content;
  }
  .menhera_text p {
    width: max-content;
    margin: 32px 0 0 10px;
    line-height: 25px;
  }
}
