.header {
  box-sizing: border-box;
  background-color: #16161a;
  margin: 0;
  padding: 15px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #9c5ddb
}

.header li,
.header a,
.header button {
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

.header img {
  cursor: pointer;
}

.header button {
  padding: 9px 25px;
  background-color: #9c5ddb;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header button:hover {
  background-color: #7642ad;
}

.links {
  list-style: none;
}

.links li {
  display: inline-block;
  padding: 0px 20px;
}

.links li a {
  transition: all 0.3s ease 0s;
}

.links li a:hover {
  color: #9c5ddb;
}

@media (max-width: 600px) {
  .header img,
  #home {
    display: none;
  }
  .links li a {
    text-decoration: underline;
  }
}
