@tailwind base;

@tailwind components;

@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  scroll-behavior: smooth;
}

.boleham {
  font-family: Ginto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.chat::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #3f495a;
}

.chat::-webkit-scrollbar {
  width: 10px;
  background-color: #3f495a;
}

.chat::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #1f2225;
}

.hashtag-bar::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #3f495a;
}

.hashtag-bar::-webkit-scrollbar {
  width: 10px;
  background-color: #3f495a;
}

.hashtag-bar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #1f2225;
}

.sidebar-users::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #3f495a;
}

.sidebar-users::-webkit-scrollbar {
  width: 10px;
  background-color: #3f495a;
}

.sidebar-users::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #1f2225;
}

.channel-bar::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #1f2225;
}

.channel-bar::-webkit-scrollbar {
  width: 10px;
  background-color: #1f2225;
}

.channel-bar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #3f495a;
}

body {
  background-color: #24252a;
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #9c5ddb;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0, 5);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
